<template>
  <Container>
    <template v-slot:body>
      <h1>Transfers</h1> 
    </template>
  </Container>
</template>

<script>
import Container from './common/Container'

export default {
  name: 'Transfers',
  components: {
    Container
  }
}
</script>
