<template>
  <div class="container">
    <header>
      <slot name="header">
      </slot>
    </header>
    <body>
      <slot name="body">
      </slot>
    </body>
    <footer>
      <slot name="footer">
      </slot>
    </footer>
  </div>
</template>

<script>
export default {

}
</script>

<style>

</style>