<template>
  <div id="app">
    <div id="nav">
      <router-link to="/">Inventory</router-link> | 
      <router-link to="/sales">Sales</router-link> | 
      <router-link to="/purchases">Purchases</router-link> | 
      <router-link to="/suppliers">Suppliers</router-link> | 
      <router-link to="/transfers">Transfers</router-link>
    </div>
    <router-view/>
  </div>
</template>

<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;
  // display: grid;
  // text-align: left;
  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>
